form fieldset{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    padding: 30px;
}
form fieldset input[ type="submit"]{
    width: 15vw;
    height: 10vh;
    margin: auto;
    background-color: blanchedalmond;
    color: black ;
}
 h1{
    text-align: center;
    border: solid 3px black;
    font-family: fantasy;
    font-size: 40px;
    background-color: orange;
 }
 h2{
text-align: center;
font-size: 30px;
}
img{
display: block;
margin: auto;
}
body{
background-color: burlywood;
background-size: cover;
}
iframe{
    display: block;
    margin: auto;
}
